# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6


Normal

*Italics* or _Italics_

**Bold** or __Bold__

**_Bold and Italics_**

~~Strike Through~~    

* Bullet Point 
 - Bullet Point 
+ Bullet Point


1. Numbered
    1. Sub Number

www.google.com

<ol>
<li>Fish</li>
<li>Eggs</li>
<li>Cheese</li>
</ol>


<ul>
<li>Fish</li>
<li>Eggs</li>
<li>Cheese</li>
</ul>


<i>This is italic text </i>



* This is italic text

_ This is italic text



<b>This is bold text </b>
** This is bold text
__ This is bold text


he line breaks after using <br> br tags and it is awesome.


# (Header 1, title)

## (Header 2, major headings)

### (Header 3, subheadings)

#### (Header 4)

##### (Header 5)

###### (Header 6)


<h1>Header 1,title<h1>
<h2>Header 2,major headings<h2>
<h3>Header 3,subheadings<h3>
<h4>Header 4<h4>
<h5>Header 5<h5>
<h6>Header 6<h6>


| Default Header | Left Align | Right Align | Center Align |
| --- |:-- | -----------------: | -----------------------------------: |
| a   |    b    |  c   | d  |

| Heading 1 | Heading 2 | Heading 3 |
 
|---|:--:|--:|

| left-aligned | Centered | right-justified |
 
| Hidarihidarihidarihidarihidarihidari | during during Chuchu | right right right right right right |


<table align="left">
<thead>
<tr><th>Header</th><th>Header</th><th>Header</th></tr>
</thead>
<tbody>
<tr><td><div style="text-align: center"> A</div></td><td>B</td><td>C</td></tr>
<tr><td>X</td><td>Y</td><td>Z</td></tr>
</tbody>
</table>

<div align="left">
<table>
<thead>
<tr><th>Header</th><th>Header</th><th>Header</th></tr>
</thead>
<tbody>
<tr align="left" ><td>A</td><td>B</td><td>C</td></tr>
<tr><td>X</td><td align="right">Y</td><td>Z</td></tr>
</tbody>
</table>
</div>


<table align="left">
<thead>
<tr><th>Header</th><th>Header</th><th>Header</th></tr>
</thead>
<tbody>
<tr align="center"><td>A</td><td>B</td><td>C</td></tr>
<tr align="left"><td>X</td><td>Y</td><td>Z</td></tr>
</tbody>
</table>

<span style="color:blue">Text</span>

<style> .first-row { text-align: center; } .second-row { text-align: right; } .third-row { text-align: left; } </style>
<table> <tr class="first-row"> <td>First column</td> <td>Second column</td> <td>Third column</td> </tr>
        <tr class="second-row"> <td>First column</td> <td>Second column</td> <td>Third column</td> </tr> 
        <tr class="third-row"> <td>First column</td> <td>Second column</td> <td>Third column</td> </tr>
</table>

Function| Description 
:--|:-:
**chr()**| *Converts an integer to a character*           
**ord()**| *Converts a character to an integer*  
**len()**| *Returns the length of a string*  
**str()**| *Returns a string representation of an object*

<img src="2.webp" width="200" height="100">

<div style="text-align: right"> your-text-here </div>

<table align="left">
<thead>
<tr><th><div style="text-align: center">Function</div></th><th><div style="text-align: center">Description</div></th>
</thead>
<tbody>
    <tr><td><b><i><div style="text-align: center">chr()</div></i></b></td><td><div style="text-align: left">Converts an integer to a character</div></td></tr>
    <tr><td><b><div style="text-align: center">ord()</div></b></td><td><div style="text-align: left">Converts a character to an intege</div></td></tr>
    <tr><td><b><div style="text-align: center">len()</div></b></td><td><div style="text-align: left">Returns the length of a string</div></td></tr>
    <tr><td><b><div style="text-align: center">str()</div></b></td><td><div style="text-align: left">Returns a string representation of an object</div></td></tr>
</tbody>
</table>

<table>
<thead>
   <tr><th>Header</th><th>Header</th><th>Header</th></tr>
</thead>
<tbody>
    <tr><td>A</td><td>B</td><td>C</td></tr>
    <tr><td>1</td><td>2</td><td>3</td></tr>
</tbody>
</table>